<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.WorkcontactMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Workcontact">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="idcardNumber" jdbcType="VARCHAR" property="idcardnumber" />
    <result column="startTime" jdbcType="VARCHAR" property="starttime" />
    <result column="endTime" jdbcType="VARCHAR" property="endtime" />
    <result column="validStartTime" jdbcType="VARCHAR" property="validstarttime" />
    <result column="validEndTime" jdbcType="VARCHAR" property="validendtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>