<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.WorkerMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Worker">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="idcardNumber" jdbcType="VARCHAR" property="idcardnumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="companyId" jdbcType="VARCHAR" property="companyid" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="vailPeriod" jdbcType="VARCHAR" property="vailperiod" />
    <result column="gender" jdbcType="SMALLINT" property="gender" />
    <result column="age" jdbcType="SMALLINT" property="age" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="peple" jdbcType="VARCHAR" property="peple" />
    <result column="maritalStatus" jdbcType="VARCHAR" property="maritalstatus" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="workerNumber" jdbcType="VARCHAR" property="workernumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="emerContact" jdbcType="VARCHAR" property="emercontact" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>