<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.BooksMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Books">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uId" jdbcType="BIGINT" property="uid" />
    <result column="sailType" jdbcType="INTEGER" property="sailtype" />
    <result column="sailStatus" jdbcType="INTEGER" property="sailstatus" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="bookName" jdbcType="VARCHAR" property="bookname" />
    <result column="autho" jdbcType="VARCHAR" property="autho" />
    <result column="shape" jdbcType="VARCHAR" property="shape" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="useTime" jdbcType="INTEGER" property="usetime" />
    <result column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="litPrice" jdbcType="DECIMAL" property="litprice" />
    <result column="living" jdbcType="INTEGER" property="living" />
    <result column="intro" jdbcType="LONGVARCHAR" property="intro" />
    <result column="userSub" jdbcType="LONGVARCHAR" property="usersub" />
  </resultMap>
  <insert id="insertRetId" parameterType="com.company.project.model.Books" >
    <selectKey keyProperty="id" order="AFTER" resultType="int">
      select LAST_INSERT_ID()
    </selectKey>
    INSERT INTO USER(uid,sailType,sailStatus,imgUrl,bookName,autho,intro,shape,userSub,price,quantity,typeid,useTime,isbn,litPrice,living)
    VALUES(#{uid},#{sailtype},#{sailstatus},#{imgurl},#{bookname},#{autho},#{intro},#{shape},#{usersub},#{price},#{quantity},#{typeid},#{usetime},#{isbn},#{litprice},#{living})
  </insert>
</mapper>